@model IEnumerable<Book>

@{
    ViewData["Title"] = "Index";
    
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Book Information</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="card">
            
            <div class="card-body p-0">
                <table class="d-lg-table table-striped project">
                    <thead>
                        <tr>

                            <th style="width:10%">
                                Title
                            </th>
                            <th style="width:10%">
                                Author
                            </th>
                            <th style="width:10%">
                                Publication
                            </th>
                            <th style="width:10%">
                                <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Add Book</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>
                                     @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Author)
                                </td>
                                <td>
                                     @Html.DisplayFor(modelItem => item.PublicationYear)
                                </td>
                                <td>
                                   <a asp-action="Edit" asp-route-id="@item.BookID"><i class="far fa-edit fa-lg"></i></a>
                                   <a asp-action="Delete" asp-route-id="@item.BookID" class="text-danger ml-1" onclick="return confirm('Are you sure you want to Remove Customer?')"><i class="far fa-trash-alt fa-lg"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
                
            </div>

        </div>

    </section>
</div>
